<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<a href="/book/add">Add Book |</a>
<a href="/book/remove">Remove Book | </a>
<a href="/search"> Find Books |</a>
<a href="/message">Messages</a>
<a href="/logout">logout</a>


<div  class="username" th:text="Hello + ${name}"></div>
<h1> Sell Books4Cash</h1>
<h6><i>sell books by Zip or in your University</i></h6>
<h1 th:text="${title}"></h1>


<form method="POST"  th:object="${zip}">
    <div class="form-group">
        <label th:for="name">Add Zipcode</label>
        <input class="form-control" th:field="*{zipNumber}" />
        <span th:errors="*{zipNumber}" class="error"></span>
    </div>
    <input type="submit" value="Add Zipcode" />
</form>

</body>
</html>